<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>{{ title }}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="page-title">User List</h4>
                        <button [hidden]="permission == 'notcreate'" class="btn btn-primary btn-round ml-auto" id="addModalOpen" (click)="createData(editModal)">
                            <i class="fa fa-plus"></i>
                            &nbsp;&nbsp;&nbsp;Add User
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row p-2 filter-cont mb-4">
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>User Type</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="typeFilter" [clearable]="false" [items]="userTypeFilterData" bindLabel="name" bindValue="_id">
                                    <!-- <ng-option [value]="'custom'">Custom</ng-option>
                                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option> -->
                                </ng-select>

                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Block Type</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="blockFilter" [clearable]="false" [items]="blockedFilterData" bindLabel="name" bindValue="id"></ng-select>

                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Status</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="statusFilter" [clearable]="false" [items]="statusFilterData" bindLabel="name" bindValue="id"></ng-select>

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-primary" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Tel</th>
                                    <th>Active</th>
                                    <th>Blocked</th>
                                    <th [hidden]="permission == 'notcreate'">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="companyList?.length != 0">
                                <tr *ngFor="let user of companyList ">
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.userType.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td> {{ user.tel?.tel }} {{ user.phone }}</td>

                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="user.active == 1">Active</span>
                                        <span class="badge badge-pill badge-warning" *ngIf="user.active == 0">Inactive</span>

                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-danger" *ngIf="user.blocked == 1">Blocked</span>
                                        <span class="badge badge-pill badge-success" *ngIf="user.blocked == 0">Unblocked</span>

                                    </td>
                                    <td [hidden]="permission == 'notcreate'">
                                        <div class="btn-group datatable-dropdown" *ngIf="user.userType.adminType==0">
                                            <button type="button" class="btn btn-primary" (click)="editDetail(editModal,user._id)">Edit</button>
                                            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                                <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <button ngbDropdownItem (click)="deleteConfirmation(user._id)">Delete</button>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="companyList?.length == 0">
                                <tr>
                                    <td colspan="7" class="no-data-available text-center">No matching records found</td>
                                </tr>
                                <tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- Edit Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> {{ editing ? "Edit" : "Add" }} User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="row form" *ngIf="requestDetail" id="editForm" [formGroup]="editForm" (ngSubmit)="updateRequest()">
            <input type="hidden" formControlName="data" [attr.maxlength]="validator.name.max" class="form-control">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Name</label>
                            <input type="text" formControlName="name" [attr.maxlength]="validator.name.max" class="form-control" placeholder="Name">
                            <error-label [control]="f.name"></error-label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Email</label>
                            <input type="email" formControlName="email" [attr.maxlength]="validator.email.max" class="form-control" placeholder="Email">
                            <label class="error" for="loginEmail" *ngIf="(submitted || f.email.touched || f.email.dirty) && f.email.errors">Please enter a
                            valid email address.</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Phone Number</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [clearable]="false" placeholder="Code" formControlName="tel" [items]="countryList | async" bindLabel="tel" bindValue="_id"></ng-select>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="phone" placeholder="Phone number" [attr.maxlength]="validator.phone.max" class="form-control" digitOnly>
                                </div>
                            </div>
                            <error-label [control]="f.phone"></error-label>
                            <error-label [control]="f.tel"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Designation</label>
                            <input type="text" formControlName="designation" [attr.maxlength]="validator.company.max" class="form-control" placeholder="Designation">
                            <error-label [control]="f.designation"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">User Type</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="userType" (change)="onchange($event)" [clearable]="false" [items]="userTypeList" bindLabel="name" bindValue="_id" [class.filled]="f.userType.value"
                                placeholder="User type"></ng-select>
                            <error-label [control]="f.userType"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="hidden">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Meeting Permission</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="meetingAccess" [clearable]="false" [items]="permissionType" bindLabel="name" bindValue="id" [class.filled]="f.meetingAccess.value" placeholder="Meeting permission"></ng-select>
                            <error-label [control]="f.meetingAccess"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="editing">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Active Status</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="active" [clearable]="false" [items]="activeList" bindLabel="name" bindValue="id" [class.filled]="f.active.value"></ng-select>
                            <error-label [control]="f.active"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="editing">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Block Status</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="block" [clearable]="false" [items]="blockList" bindLabel="name" bindValue="id" [class.filled]="f.block.value"></ng-select>
                            <error-label [control]="f.block"></error-label>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Close click')">Close</button>
        <app-submit-button [submitted]="submitted" (click)="updateRequest()"> {{ editing ? "Update" : "Add" }} </app-submit-button>
    </div>
</ng-template>
