.backbtn#addModalOpen {
    margin-left: 0 !important;
    padding: 0.5rem 0.8rem;
}

.card-header.innerCard {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #810c03;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.form-group.dropdown {
    overflow: visible;
}

.ng-select {
    padding-bottom: 0px;
}

.submit-btn {
    text-align: right;
    padding: 5px;
}