<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a>
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a routerLink="/project">Project</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Add project</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary btn-round ml-auto backbtn" id="addModalOpen" [routerLink]="['/project']">
                                <i class="fa fa-arrow-left"></i>
                                <!-- View -->
                            </button>
                    </div>
                </div>
                <div class="card-body">
                    <ngb-tabset type="pills" #t="ngbTabset">
                        <ngb-tab id="tab-selectbyid1">
                            <!-- <ng-template ngbTabTitle><b>Project details</b></ng-template> -->
                            <ng-template ngbTabContent>
                                <form [formGroup]="addproductForm">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default">
                                                    <label class="text-primary">Project Name</label>
                                                    <input type="text" formControlName="name" class="form-control" placeholder="Project name">
                                                    <error-label [control]="f.name"></error-label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default">
                                                    <label class="text-primary">Block Name</label>
                                                    <input type="text" formControlName="blockName" class="form-control" placeholder="Block name">
                                                    <error-label [control]="f.blockName"></error-label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default">
                                                    <label class="text-primary">Field Name</label>
                                                    <input type="text" name="fieldName" formControlName="fieldName" class="form-control" placeholder="Field name">
                                                    <error-label [control]="f.fieldName"></error-label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default dropdown">
                                                    <label class="text-primary">Field Environment</label>
                                                    <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="fieldEnv" [items]="fieldEnvData" bindLabel="name" [clearable]="false" bindValue="id" placeholder="Field environment"></ng-select>
                                                    <error-label [control]="f.fieldEnv"></error-label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default">
                                                    <label class="text-primary">Well Name</label>
                                                    <input type="text" name="wellName" formControlName="wellName" class="form-control" placeholder="Well Name">
                                                    <error-label [control]="f.wellName"></error-label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group form-group-default">
                                                            <label class="text-primary">Water Depth</label>
                                                            <input type="number" name="depth" formControlName="depth" class="form-control" placeholder="Water depth">
                                                            <error-label [control]="f.depth"></error-label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-default dropdown">
                                                            <label class="text-primary">Type</label>
                                                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="depthType" [items]="depthData" bindLabel="name" [clearable]="false" bindValue="name" placeholder="Type"></ng-select>
                                                            <error-label [control]="f.depthType"></error-label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default dropdown">
                                                    <label class="text-primary">Status</label>
                                                    <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="status" [items]="statusData" bindLabel="name" [clearable]="false" bindValue="id" placeholder="Status"></ng-select>
                                                    <error-label [control]="f.status"></error-label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default dropdown">
                                                    <label class="text-primary">Country</label>
                                                    <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [items]="countryList | async" formControlName="country" [clearable]="false" bindLabel="name" bindValue="_id" placeholder="Country">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <!-- <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="country" [items]="countryList| async" bindLabel="name" bindValue="_id" placeholder="Country">
                                </ng-select>
                                <error-label [control]="f.country"></error-label> -->
                                            <!-- <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label class="text-primary">Country</label>
                                <input type="text" formControlName="country" class="form-control" placeholder="Country">
                                <error-label [control]="f.country"></error-label>
                            </div>
                        </div> -->
                                            <!-- <div class="col-md-6">
                            <div class="form-group form-group-default dropdown">
                                <label class="text-primary">User Type</label>
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="userType" [items]="userTypeList" bindLabel="name" bindValue="_id" [class.filled]="f.userType.value"></ng-select>
                                <error-label [control]="f.userType"></error-label>
                            </div>
                        </div> -->
                                            <!-- <div class="col-md-6" *ngIf="editing">
                            <div class="form-group form-group-default dropdown">
                                <label class="text-primary">Active Status</label>
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="active" [items]="activeList" bindLabel="name" bindValue="id" [class.filled]="f.active.value"></ng-select>
                                <error-label [control]="f.active"></error-label>
                            </div>
                        </div> -->
                                            <!-- <div class="col-md-6" *ngIf="editing">
                            <div class="form-group form-group-default dropdown">
                                <label class="text-primary">Block Status</label>
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="block" [items]="blockList" bindLabel="name" bindValue="id" [class.filled]="f.block.value"></ng-select>
                                <error-label [control]="f.block"></error-label>
                            </div>
                        </div> -->

                                        </div>
                                    </div>
                                    <div>
                                        <!-- (click)="t.select('tab-selectbyid2')" -->
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-primary btn-round ml-auto" id="addModalOpen" [disabled]="!addproductForm.valid" (click)="submit(addproductForm.value)">
                                            Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-selectbyid2">
                            <!-- <ng-template ngbTabTitle><b>Project locations</b></ng-template> -->
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header innerCard">Office Employee</div>
                                            <div class="card-body">
                                                <span *ngFor="let user of UserType">
                                <span *ngIf="user.webLogin == '1'"><input type="radio" name="">&nbsp;{{ user.name }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header innerCard">Field Employee</div>
                                            <div class="card-body">
                                                <span *ngFor="let user of UserType">
                                <span *ngIf="user.webLogin == '0'"><input type="radio" name="">&nbsp;{{ user.name }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    <!-- <div class="row p-2 filter-cont mb-4">

                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Status</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="statusFilter" [items]="statusFilterData" bindLabel="name" bindValue="id"></ng-select>

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-primary" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="dataList?.length != 0">
                                <tr *ngFor="let package of dataList">
                                    <td>{{ package.name | capitalize }}</td>
                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="package.active == 1">Active</span>
                                        <span class="badge badge-pill badge-warning" *ngIf="package.active == 0">Inactive</span>
                                    </td>
                                    <td>
                                        <div class="btn-group datatable-dropdown">
                                            <button class="btn btn-link btn-primary" (click)="editDetail(editModal,package._id)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-link btn-danger" (click)="deleteConfirmation(package._id)"><i class="fa fa-trash"></i></button>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="dataList?.length == 0">
                                <tr>
                                    <td colspan="6" class="no-data-available text-center">No matching records found</td>
                                </tr>
                                <tbody>

                        </table>
                    </div> -->
                </div>
            </div>
        </div>


    </div>
</div>


<!-- Edit Modal -->
<!-- <ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{editing? "Edit" : "Add" }} Project</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <form class="row form" *ngIf="requestDetail" id="editForm" [formGroup]="editForm" (ngSubmit)="updateRequest()">
            <input type="hidden" formControlName="data" [attr.maxlength]="validator.name.max" class="form-control">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Name</label>
                            <input type="text" formControlName="name" [attr.maxlength]="validator.name.max" class="form-control" placeholder="Name">
                            <error-label [control]="f.name"></error-label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Status</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="active" [items]="statusData" bindLabel="name" bindValue="id" [class.filled]="f.active.value"></ng-select>
                            <error-label [control]="f.active"></error-label>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Close click')">Close</button>
        <app-submit-button [submitted]="submitted" (click)="updateRequest()">{{editing? "Update" : "Add" }}</app-submit-button>
    </div>
</ng-template> -->
