<app-guest>
    <div class="container container-login animated fadeIn ">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/img/logo.png" class="pb-3">
            </div>
        </div>
        <h3 class="text-center">Forgot Password</h3>
        <form class="login-form form" id="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="alert alert-warning alert-dismissible fade show text-center " [ngClass]="{'d-none': !validationError}" role="alert">
                <strong>{{ validationError }}</strong>
            </div>
            <div class="alert alert-success alert-dismissible fade show text-center " [ngClass]="{'d-none': !successMessage}" role="alert">
                <strong>{{ successMessage }}</strong>
            </div>
            <div class="form-group form-floating-label">
                <input id="forgotEmail" formControlName="email" type="email" class="form-control input-border-bottom floating-input pl-1 pr-1 filled" required [attr.maxlength]="validator.email.max" placeholder="Enter your email">
                <label for="email" class="placeholder">Email</label>
                <label class="error" for="forgotEmail" *ngIf="(submitted || f.email.touched || f.email.dirty) && f.email.errors">Please enter a
                    valid email address.</label>
            </div>
            <div class="form-action">
                <a routerLink="/login" id="show-signin" class="btn btn-danger btn-link btn-login mr-3">Sign In</a>
                <button type="submit" class="btn btn-primary btn-rounded btn-login" data-loading-text="Checking.." data-loading="" data-text="" id="forgotButton">
                    <span>Send Reset Link</span>
                </button>
            </div>
            <div class="login-account mt-5">
                <span class="msg">&copy; IC2 Drill</span>

            </div>
        </form>
    </div>
</app-guest>