<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ type }} Confirmation</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
    <p><strong>Are you sure want to <span style="text-transform: lowercase;">{{ type }}</span> meeting?</strong></p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-primary" (click)="passBack()">Ok</button>
</div>
