<app-guest>
    <div class="container container-login animated fadeIn ">
        <div class="row">
            <div class="col-12 text-center">
                <a [routerLink]="['/login']">
                    <img src="assets/img/logo.png" class="pb-3">
                </a>
            </div>
        </div>
        <h3 class="text-center">Reset Password</h3>
        <form class="login-form form" id="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <input id="resetToken" formControlName="token" type="hidden" required>
            <div class="alert alert-warning alert-dismissible fade show text-center " [ngClass]="{'d-none': !validationError}" role="alert">
                <strong>{{ validationError }}</strong>
            </div>
            <div class="alert alert-success alert-dismissible fade show text-center " [ngClass]="{'d-none': !successMessage}" role="alert">
                <strong>{{ successMessage }}</strong>
            </div>
            <div class="form-group form-floating-label">
                <input id="resetEmail" formControlName="email" type="email" class="form-control floating-input input-border-bottom pl-1 pr-5" [attr.maxlength]="validator.email.max">
                <label for="email" class="placeholder">Email</label>
                <error-label *ngIf="submitted && f.email.touched && f.email.errors && f.email.errors.required" [control]="f.email"></error-label>
                <error-label *ngIf="submitted && f.email.touched && f.email.errors && f.email.errors.email" [control]="f.email"></error-label>
            </div>
            <div class="form-group input-group form-floating-label" [ngClass]="{'error-cont': submitted && f.password.touched && f.password.errors }">
                <input id="resetPassword" formControlName="password" [type]="NewpasswordHidden ? 'password' : 'text'" class="form-control floating-input input-border-bottom pl-1 pr-5" [attr.maxlength]="validator.password.max">
                <label for="password" class="placeholder">New Password</label>
                <div class="input-group-append">
                    <span class="input-group-text" style="background: none;border: none;border-bottom: 1px solid;font-size: 20px;"><i class="far " (click)="toggleVisible('new')" [ngClass]="{'fa-eye': !NewpasswordHidden, 'fa-eye-slash': NewpasswordHidden}"></i>
                    </span>
                </div>
                <div class="input-group">
                    <div *ngIf="submitted && f.password.touched && f.password.errors">
                        <error-label [control]="f.password"></error-label>
                    </div>
                </div>
            </div>
            <div class="form-group input-group form-floating-label" [ngClass]="{'error-cont': (submitted || f.passwordConfirmation.touched) && f.passwordConfirmation.errors }">
                <input id="resetPasswordConf" formControlName="passwordConfirmation" [type]="ConfirmpasswordHidden ? 'password' : 'text'" class="form-control floating-input input-border-bottom pl-1 pr-5" [attr.maxlength]="validator.password.max">
                <label for="passwordConfirmation" class="placeholder">Confirm Password</label>
                <div class="input-group-append">
                    <span class="input-group-text" style="background: none;
                    border: none;
                    border-bottom: 1px solid;
                    font-size: 20px;"><i class="far " (click)="toggleVisible('confirm')" [ngClass]="{'fa-eye': !ConfirmpasswordHidden, 'fa-eye-slash': ConfirmpasswordHidden}"></i>
                    </span>
                </div>
                <div class="input-group">
                    <div *ngIf="submitted && f.passwordConfirmation.touched && f.passwordConfirmation.errors">
                        <error-label [control]="f.passwordConfirmation"></error-label>
                    </div>
                </div>
            </div>
            <div class="form-action">
                <app-submit-button [submitted]="button">Reset Password</app-submit-button>
                <!-- <button type="submit" class="btn btn-primary btn-rounded btn-login" data-loading-text="Checking.." data-loading="" data-text="" id="forgotButton">
                        <span>Reset Password</span>
                    </button> -->
            </div>
            <div class="login-account mt-5">
                <span class="msg">&copy; IC2 Drill</span>
            </div>
        </form>
    </div>
</app-guest>
