<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/project/list">Projects</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li> -->
            <li class="nav-item">
                <a>{{ title }}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="page-title">Rig location list</h4>
                        <button class="btn btn-primary btn-round ml-auto" id="addModalOpen" (click)="createData(editModal)">
                                    <i class="fa fa-plus"></i>
                                    &nbsp;&nbsp;&nbsp;Add Rig Location
                                </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row p-2 filter-cont mb-4">
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Project</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="projectFilter" [clearable]="false" [items]="projectFilterData" bindLabel="name" bindValue="_id"></ng-select>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Status</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="statusFilter" [clearable]="false" [items]="statusFilterData" bindLabel="name" bindValue="id"></ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-primary" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Project</th>
                                    <th>Manager</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="dataList?.length != 0">
                                <tr *ngFor="let data of dataList">
                                    <td><a (click)="view(data._id)">{{ data.name | capitalize }}</a></td>
                                    <td><a>{{ data.project?.name | capitalize }}</a></td>
                                    <td><a>{{ data.manager?.name }}</a></td>

                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="data.active == 1">Active</span>
                                        <span class="badge badge-pill badge-warning" *ngIf="data.active == 0">Inactive</span>
                                    </td>
                                    <td>
                                        <div class="btn-group datatable-dropdown">
                                            <button class="btn btn-link" (click)="view(data._id)"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-link btn-primary" (click)="editDetail(editModal,data._id)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-link btn-danger" (click)="deleteConfirmation(data._id)"><i class="fa fa-trash"></i></button>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="dataList?.length == 0">
                                <tr>
                                    <td colspan="5" class="no-data-available text-center">No matching records found</td>
                                </tr>
                                <tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- Edit Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ editing ? "Edit" : "Add" }} Rig Location</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body">
        <form class="row form" *ngIf="requestDetail" id="editForm" [formGroup]="editForm" (ngSubmit)="updateRequest()">
            <!-- <input type="hidden" formControlName="data" class="form-control"> -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Rig Name</label>
                            <input type="text" formControlName="name" [attr.maxlength]="validator.name.max" class="form-control" placeholder="Rig name">
                            <error-label [control]="f.name"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6" [hidden]="editing">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Select Project</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [items]="projectOptionData" formControlName="data" [clearable]="false" bindLabel="name" bindValue="_id" placeholder="Select project">
                            </ng-select>
                            <error-label [control]="f.data"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Rig Location</label>
                            <input type="text" formControlName="rigLocation" [attr.maxlength]="validator.name.max" class="form-control" placeholder="Rig Location">
                            <error-label [control]="f.rigLocation"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Select Rig Manager</label>
                            <ng-select [items]="people" [multiple]="false" [closeOnSelect]="false" placeholder="Select user" bindLabel="name" bindValue="_id" formControlName="manager">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                    <span class="ng-value-label"><img [src]="item.profilePic | baseURL" width="20px" height="20px"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    <img [src]="item.profilePic | baseURL" width="20px" height="20px">&nbsp;<span style="position: absolute;
                                    top: 3px;">{{item.name}}</span>
                                </ng-template>
                            </ng-select>
                            <error-label [control]="f.manager"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Field Name</label>
                            <input type="text" formControlName="fieldName" [attr.maxlength]="validator.name.max" class="form-control" placeholder="Field name">
                            <error-label [control]="f.fieldName"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Active</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="active" [items]="statusData" bindLabel="name" [clearable]="false" bindValue="id" [class.filled]="f.active.value" placeholder="Status"></ng-select>
                            <error-label [control]="f.active"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Country</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [items]="countryList | async" formControlName="country" [clearable]="false" bindLabel="name" bindValue="_id" placeholder="Country">
                            </ng-select>
                            <error-label [control]="f.country"></error-label>
                        </div>
                    </div>


                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Close click')">Close</button>
        <app-submit-button [submitted]="submitted" (click)="updateRequest()">{{editing? "Update" : "Add" }}</app-submit-button>
    </div>
</ng-template>
