<li class="nav-item dropdown hidden-caret" [ngClass]="{'show': visibility}">
    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" aria-expanded="false">
        <!-- <ngx-avatar *ngIf="profileImage == null" name={{user.name}} bgColor="#520701"></ngx-avatar> -->
        <div class="avatar-sm">
            <img src="{{user.profilePic}}" alt="..." class="avatar-img rounded-circle">
        </div>
    </a>
    <ul class="dropdown-menu dropdown-user animated fadeIn" [ngClass]="{'show': visibility}">
        <div class="dropdown-user-scroll scrollbar-outer">
            <li>
                <div class="user-box">
                    <!-- <ngx-avatar [cornerRadius]="5" [round]="false" *ngIf="profileImage == null" name={{user.name}} bgColor="#520701"></ngx-avatar> -->
                    <div class="avatar-lg"><img src="{{user.profilePic}}" alt="image profile" class="avatar-img rounded"></div>
                    <div class="u-text">
                        <h4>{{user.name}}</h4>
                        <p class="text-muted">{{ user.email }}</p>
                        <!-- <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a> -->
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="" (click)="gotoProfile()">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="'/account'">Account</a>
                <!-- <a class="dropdown-item" href="#">My Balance</a>
                <a class="dropdown-item" href="#">Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Account Setting</a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="" (click)="logout()">Logout</a>
            </li>
        </div>
    </ul>
</li>
