<li class="nav-item dropdown hidden-caret" [ngClass]="{'show': visibility}">
    <a class="nav-link dropdown-toggle" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <!-- <span class="notification">4</span> -->
    </a>
    <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown" [ngClass]="{'show': visibility}">
        <li>
            <div class="dropdown-title d-flex justify-content-between align-items-center">
                Notifications
                <!-- <a [routerLink]="'/notification/list'" class="small">Mark all as read</a> -->
            </div>
        </li>
        <li>
            <div class="message-notif-scroll scrollbar-outer" [perfectScrollbar]>
                <div class="notif-center">
                    <a [routerLink]="'/notification/list'">
                        <div class="notif-img">
                            <img src="../assets/img/jm_denis.jpg" alt="Img Profile">
                        </div>
                        <div class="notif-content">
                            <span class="subject">Jimmy Denis</span>
                            <span class="block">
                                How are you ?
                            </span>
                            <span class="time">5 minutes ago</span>
                        </div>
                    </a>
                    <a [routerLink]="'/notification/list'">
                        <div class="notif-img">
                            <img src="../assets/img/chadengle.jpg" alt="Img Profile">
                        </div>
                        <div class="notif-content">
                            <span class="subject">Chad</span>
                            <span class="block">
                                Ok, Thanks !
                            </span>
                            <span class="time">12 minutes ago</span>
                        </div>
                    </a>
                    <a [routerLink]="'/notification/list'">
                        <div class="notif-img">
                            <img src="../assets/img/mlane.jpg" alt="Img Profile">
                        </div>
                        <div class="notif-content">
                            <span class="subject">Jhon Doe</span>
                            <span class="block">
                                Ready for the meeting today...
                            </span>
                            <span class="time">12 minutes ago</span>
                        </div>
                    </a>
                    <a [routerLink]="'/notification/list'">
                        <div class="notif-img">
                            <img src="../assets/img/talha.jpg" alt="Img Profile">
                        </div>
                        <div class="notif-content">
                            <span class="subject">Talha</span>
                            <span class="block">
                                Hi, Apa Kabar ?
                            </span>
                            <span class="time">17 minutes ago</span>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <!-- <li>
            <a class="see-all" [routerLink]="['/notification/list']" routerLinkActive="router-link-active">See all messages<i class="fa fa-angle-right"></i> </a>
        </li> -->
    </ul>
</li>
