<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>{{ title }}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="page-title">Meeting List</h4>
                        <!-- <button [hidden]="permission == 'notcreate'" class="btn btn-primary btn-round ml-auto" id="addModalOpen" (click)="createData(editModal)">
                            <i class="fa fa-plus"></i>
                            Add User
                        </button> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="row p-2 filter-cont mb-4">
                        <!-- <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Meeting Title</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="typeFilter" [items]="userTypeFilterData" bindLabel="name" bindValue="_id">
                                    <ng-option [value]="'custom'">Custom</ng-option>
                                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
                                </ng-select>

                            </div>
                        </div> -->
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Status</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="blockFilter" [items]="blockedFilterData" bindLabel="name" bindValue="id"></ng-select>

                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Active</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="statusFilter" [items]="statusFilterData" bindLabel="name" bindValue="id"></ng-select>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Date</label>
                                <input type="text" [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" ngxDaterangepickerMd [(ngModel)]="dateRangeFilter" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0"/>
                            </div>
                        </div> -->
                    </div>
                    <div class="table-responsive">
                        <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-primary" width="100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>StartTime</th>
                                    <th>EndTime</th>
                                    <th>Active</th>
                                    <th>status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="companyList?.length != 0">
                                <tr *ngFor="let meeting of companyList ">
                                    <td>{{ meeting.title }}</td>
                                    <td>{{ meeting.desc }}</td>
                                    <td>{{ meeting.startTime | date:'short' }}</td>
                                    <td>{{ meeting.endTime | date:'short' }}</td>
                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="meeting.active == 1">Active</span>
                                        <span class="badge badge-pill badge-warning" *ngIf="meeting.active == 0">Cancelled</span>

                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-danger" *ngIf="meeting.status == 1">Blocked</span>
                                        <span class="badge badge-pill badge-success" *ngIf="meeting.status == 0">Unblocked</span>
                                    </td>
                                    <td>
                                        <div class="btn-group datatable-dropdown">
                                            <button type="button" class="btn btn-primary" (click)="view(editModal, meeting._id)">view
                                            </button>
                                            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                                <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <button *ngIf="meeting.active == 1" ngbDropdownItem (click)="CancelConfirmation(meeting._id, meeting.active)">Cancel Meeting</button>
                                                    <button *ngIf="meeting.active == 0" ngbDropdownItem (click)="CancelConfirmation(meeting._id, meeting.active)">Active Meeting</button>
                                                    <button ngbDropdownItem (click)="deleteConfirmation(meeting._id)">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="companyList?.length == 0">
                                <tr>
                                    <td colspan="7" class="no-data-available text-center">No matching records found</td>
                                </tr>
                                <tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- Edit Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Meeting Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body view-data">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Title</label>
                            <span class="form-control text-muted">{{ modelData.title }}</span>
                        </div>
                        <div class="form-group form-group-default">
                            <label class="text-primary">Description</label>
                            <span class="form-control text-muted">{{ modelData.desc }}</span>
                        </div>
                        <!-- <div class="form-group form-group-default">
                            <label class="text-primary">Company</label>
                            <span class="form-control text-muted">{{ modelData.company }}</span>
                        </div> -->
                        <div class="form-group form-group-default">
                            <label class="text-primary">Start Time</label>
                            <span class="form-control text-muted">{{ modelData.startTime | date :'medium' }}</span>
                        </div>
                        <div class="form-group form-group-default">
                            <label class="text-primary">End Time</label>
                            <span class="form-control text-muted">{{ modelData.endTime | date :'medium' }}</span>
                        </div>
                        <div class="form-group form-group-default">
                            <label class="text-primary">Created By</label>
                            <span class="form-control text-muted">{{ modelData.createdBy }}</span>
                        </div>
                        <div class="form-group form-group-default">
                            <label class="text-primary">Created At</label>
                            <span class="form-control text-muted">{{ modelData.createdAt | date :'medium' }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div  class="form-group form-group-default">
                            <label class="text-primary">Attenders</label>
                            <perfect-scrollbar style="height:350px;">
                            <span class="form-control text-muted">
                                <div class="row" style="margin-top: 10px;margin-bottom: 10px;" *ngFor="let attende of modelData.attenders">
                                    <div style="" class="col-sm-3">
                                        <img src={{attende.profilePic}} alt="Profile" class="avatar-img rounded-circle">
                                    </div>
                                    <div class="col-sm-9 attendename">{{ attende.name }}</div>
                                </div>
                            </span>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

