<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>{{title}}</a>
            </li>
           <!--  <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a >{{ title }}</a>
            </li> -->
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="page-title">Project List</h4>
                        <a class="btn btn-primary btn-round ml-auto" routerLink="/project/create">
                            <i class="fa fa-plus"></i>
                            Create Project
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row p-2 filter-cont mb-4">

                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Status</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="statusFilter" [items]="statusFilterData" bindLabel="name" bindValue="id"></ng-select>

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-primary" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Client</th>
                                    <th>Active</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="dataList?.length != 0">
                                <tr *ngFor="let data of dataList">
                                    <td><a (click)="view(data._id)">{{ data.name | capitalize }}</a></td>
                                    <td>{{ data.client.name | capitalize }}</td>
                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="data.active == 1">Active</span>
                                        <span class="badge badge-pill badge-danger" *ngIf="data.active == 0">Inactive</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="data.status == 1">Completed</span>
                                        <span class="badge badge-pill badge-warning" *ngIf="data.status == 0">In Progress</span>
                                    </td>
                                    <td>
                                        <div class="btn-group datatable-dropdown">
                                            <button class="btn btn-link btn" (click)="view(data._id)"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-link btn-primary" (click)="editDetail(editModal,data._id)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-link btn-danger" (click)="deleteConfirmation(data._id)"><i class="fa fa-trash"></i></button>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="dataList?.length == 0">
                                <tr>
                                    <td colspan="5" class="no-data-available text-center">No matching records found</td>
                                </tr>
                                <tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- Edit Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ editing ? "Edit" : "Add" }} project</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body">
        <form class="row form" *ngIf="requestDetail" id="editForm" [formGroup]="editForm" (ngSubmit)="updateRequest()">
            <input type="hidden" formControlName="data" [attr.maxlength]="validator.name.max" class="form-control">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Project Name</label>
                            <input type="text" formControlName="name" class="form-control" placeholder="project name">
                            <error-label [control]="f.name"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Client Name</label>
                            <input type="text" formControlName="client_name" class="form-control" placeholder="clientname">
                            <error-label [control]="f.client_name"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Address</label>
                                <input type="email" formControlName="address" class="form-control" placeholder="address">
                                <error-label [control]="f.address"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Client Email</label>
                                <input type="text" formControlName="client_email" class="form-control" placeholder="clientemail">
                                <error-label [control]="f.client_email"></error-label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">City</label>
                                <input type="text" formControlName="city" class="form-control" placeholder="city">
                                <error-label [control]="f.city"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Client Phone</label>
                                <input type="text" formControlName="client_phone" class="form-control" placeholder="clientphone">
                                <error-label [control]="f.client_phone"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">State</label>
                                <input type="text" formControlName="state" class="form-control" placeholder="state">
                                <error-label [control]="f.state"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Status</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="status" [items]="statusData" bindLabel="name" bindValue="id"></ng-select>
                            <error-label [control]="f.status"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Country</label>
                                <input type="text" formControlName="country" class="form-control" placeholder="country">
                                <error-label [control]="f.country"></error-label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Active</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="active" [items]="activeData" bindLabel="name" bindValue="id"></ng-select>
                            <error-label [control]="f.active"></error-label>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Close click')">Close</button>
        <app-submit-button [submitted]="submitted" (click)="updateRequest()">{{editing? "Update" : "Add" }}</app-submit-button>
    </div>
</ng-template>
