<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a routerLink="/project/list">Projects</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a routerLink="/project/{{projectId}}">Rig Location</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li> -->
            <li class="nav-item">
                <a>{{ title }}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="page-title">Camera List</h4>
                        <button class="btn btn-primary btn-round ml-auto" id="addModalOpen" (click)="createData(editModal)">
                            <i class="fa fa-plus"></i>
                            &nbsp;&nbsp;&nbsp;Add Camera
                        </button>
                    </div>
                </div> -->
                <div class="card-body">
                    <div class="row p-2 filter-cont mb-4">
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Projects</label>
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="projectFilter" (change)="projectOnchange('projectFlter', $event)" [clearable]="false" [items]="projectFilterData" bindLabel="name" bindValue="_id"></ng-select>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Rig Location</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" placeholder="Select project" [notFoundText]="'No wells found'" [(ngModel)]="rigFilter" [clearable]="false" [items]="wellFilterData" bindLabel="name" bindValue="_id"></ng-select>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="form-group pt-0">
                                <label>Status</label>
                                <ng-select (change)="refreshTable()" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" [(ngModel)]="statusFilter" [clearable]="false" [items]="statusFilterData" bindLabel="name" bindValue="id"></ng-select>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-round" id="addModalOpen" (click)="createData(editModal)">
                                <i class="fa fa-plus"></i>
                                &nbsp;&nbsp;&nbsp;Add Camera
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-primary" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Project</th>
                                        <th>Rig Location</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="dataList?.length != 0">
                                    <tr *ngFor="let data of dataList">
                                        <td>{{ data.name | capitalize }}</td>
                                        <td>{{ data.project.name | capitalize }}</td>
                                        <td>{{ data.well.name | capitalize }}</td>
                                        <td>
                                            <span class="badge badge-pill badge-success" *ngIf="data.active == 1">Active</span>
                                            <span class="badge badge-pill badge-warning" *ngIf="data.active == 0">Inactive</span>
                                        </td>
                                        <td>
                                            <div class="btn-group datatable-dropdown">
                                                <button class="btn btn-link" (click)="view(data._id)"><i class="fa fa-eye"></i></button>
                                                <button class="btn btn-link btn-primary" (click)="editDetail(editModal,data._id)"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-link btn-danger" (click)="deleteConfirmation(data._id)"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="dataList?.length == 0">
                                    <tr>
                                        <td colspan="5" class="no-data-available text-center">No matching records found</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <ng-template #editModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">{{ editing ? "Edit" : "Add" }} Camera</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="row form" *ngIf="requestDetail" id="editForm" [formGroup]="editForm" (ngSubmit)="updateRequest()">
                <input type="hidden" formControlName="confirm" class="form-control">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label class="text-primary">Name</label>
                                    <input type="text" formControlName="name" [attr.maxlength]="validator.name.max" class="form-control" placeholder="Name">
                                    <div *ngIf="submitted && f.name.errors">
                                        <error-label *ngIf="f.name.errors.required" [control]="f.name"></error-label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label class="text-primary">URL</label>
                                    <input type="text" formControlName="url" [attr.maxlength]="validator.camUrl.max" class="form-control" placeholder="URL">
                                    <div *ngIf="submitted && f.url.errors">
                                        <error-label *ngIf="f.url.errors.required" [control]="f.url"></error-label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label class="text-primary">Username</label>
                                    <input type="text" formControlName="username" [attr.maxlength]="validator.camUsername.max" class="form-control" placeholder="Username">
                                    <div *ngIf="submitted && f.username.errors">
                                        <error-label *ngIf="f.username.errors.required" [control]="f.username"></error-label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label class="text-primary">Password</label>
                                    <input [type]=" passwordHidden ? 'password' : 'text'" formControlName="password" [attr.maxlength]="validator.camPassword.max" class="form-control" placeholder="Password">
                                    <div class="show-password">
                                        <i class="far " (click)="togglePassword()" [ngClass]="{'fa-eye': !passwordHidden, 'fa-eye-slash': passwordHidden}"></i>
                                    </div>
                                    <div *ngIf="submitted && f.password.errors">
                                        <error-label *ngIf="f.password.errors.required" [control]="f.password"></error-label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-group-default dropdown">
                                    <label class="text-primary">Status</label>
                                    <ng-select [searchable]="false" placeholder="Select status" [clearable]="false" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="active" [items]="statusData" bindLabel="name" bindValue="id" [class.filled]="f.active.value"></ng-select>
                                    <!-- <error-label [control]="f.active"></error-label> -->
                                    <div *ngIf="submitted && f.active.errors">
                                        <error-label *ngIf="f.active.errors.required" [control]="f.active"></error-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div [hidden]="hideProRig" class="form-group form-group-default dropdown">
                                <label class="text-primary">Select Project</label>
                                <ng-select (change)="projectOnchange('projectSelect', $event)" class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="project" placeholder="Project" [clearable]="false" [items]="projectOptionData" bindLabel="name" bindValue="_id"></ng-select>
                            </div>
                            <div [hidden]="!hideProRig" class="form-group form-group-default dropdown">
                                <label class="text-primary">Project</label>
                                <input [disabled]='true' class="form-control" [value]="projectName">
                            </div>
                            <div [hidden]="!hideProRig" class="form-group form-group-default dropdown">
                                <label class="text-primary">Rig Location</label>
                                <input [disabled]='true' class="form-control" [value]="rigName">
                            </div>
                            <div [hidden]="hideProRig" class="form-group form-group-default dropdown">
                                <label class="text-primary">Select RigLocation</label>
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="data" placeholder="Please select project" [clearable]="false" [items]="wellOptionData" bindLabel="name" bindValue="_id"></ng-select>
                            </div>
                            <div class="check-box">
                                <input type="checkbox" class="check" formControlName="default" (change)='onchange($event)' />&nbsp;&nbsp;
                                <label class="text-primary">Default camera</label>
                            </div>
                            <div class="check-box" [hidden]="hideConfirm">
                                <input type="checkbox" formControlName="confirm" (change)='onConfirmChange($event)' />&nbsp;&nbsp;
                                <label class="text-primary">Confirm default camera</label>
                            </div>
                            <div class="form-group form-group-default dropdown" [hidden]="!hideConfirm">
                                <label class="text-primary">Select User</label>
                                <!-- <ng-select [items]="people" [multiple]="true" [closeOnSelect]="false" placeholder="Select user" bindLabel="name" bindValue="_id" formControlName="users" (add)="onAdd($event)" (clear)="onClear($event)" (remove)="onRemove($event)">
                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:3">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">&nbsp;×</span>
                                        </div>
                                        <div class="ng-value" *ngIf="items.length > 3">
                                            <span class="ng-value-label">{{items.length - 3}} more...</span>
                                        </div>
                                    </ng-template>
                                </ng-select> -->
                                <ng-select [items]="people" [multiple]="true" [closeOnSelect]="false" placeholder="Select user" bindLabel="name" bindValue="_id" formControlName="users" (add)="onAdd($event)" (clear)="onClear($event)" (remove)="onRemove($event)">
                                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                        <span class="ng-value-label"><img [src]="item.profilePic | baseURL" onError="this.src='../assets/img/icons8-user-male-52.png';" width="20px" height="20px">&nbsp;{{item.name}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">&nbsp;&nbsp;×</span>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item">
                                        <img [src]="item.profilePic | baseURL" width="20px" height="20px">&nbsp;
                                        <span style="position: absolute;
                                        top: 3px;">{{item.name}}</span>
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="submitted && f.users.errors">
                                    <error-label *ngIf="f.users.errors.required" [control]="f.users"></error-label>
                                </div>
                            </div>
                            <!-- <div class="mt-3" *ngIf="selectedPeople.length > 0">
                            Selected users: <br/>
                            <ul>
                                <li *ngFor="let item of selectedPeople">
                                    {{ item.name | capitalize }}
                                </li>
                            </ul>
                        </div> -->
                        </div>
                        <!-- <div class="col-sm-6">

                    </div> -->
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-rounded" (click)="setsubmit()" (click)="modal.close('Close click')">Close</button>
            <app-submit-button [submitted]="button" (click)="updateRequest()">{{editing? "Update" : "Add" }}</app-submit-button>
        </div>
    </ng-template>
