<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a routerLink="/camera/list">Camera</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>{{ title }}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="page-title project-name">{{ name }}</h4>
                        <div class="ml-auto" *ngIf="defaultCamera == 1">
                            <span class="badge badge-pill badge-success">Default Camera</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 detail-div">
                                <div>
                                    <label class="text-primary">Project Name</label>
                                    <h5>{{ project }}</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 detail-div">
                                <div>
                                    <label class="text-primary">User Name</label>
                                    <h5>{{ username }}</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 detail-div">
                                <div>
                                    <label class="text-primary">Rig Location</label>
                                    <h5>{{ rigLocation }}</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 detail-div">
                                <div>
                                    <label class="text-primary">Password</label>
                                    <p>{{ showPassword ? password : "*********" }}

                                        <button class="btn btn-link pt-0" (click)="showPassword = !showPassword">{{ showPassword ? 'Hide' : 'Show' }}</button>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 detail-div">
                                <div>
                                    <label class="text-primary">Url</label>
                                    <h5>{{ url }}</h5>
                                </div>
                            </div>
                            <div class="form-group form-group-default">
                                <div class="text-primary font-weight-bold bg-light p-2">
                                    <h4 class="m-0">Users</h4>
                                </div>
                                <perfect-scrollbar style="max-height:350px;">

                                    <div class="row">
                                        <div class="col-md-4" style="margin-top: 10px;margin-bottom: 10px;" *ngFor="let attende of users">
                                            <div class="row">
                                                <div class="col-sm-4 ">
                                                    <img [src]="attende.profilePic | baseURL" onError="this.src='../assets/img/icons8-user-male-52.png';" alt="Profile" class="avatar-img rounded-circle">
                                                </div>
                                                <div class="col-sm-8 attendename p-0">{{ attende.name }}</div>
                                            </div>
                                        </div>
                                    </div>

                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
